li {
  width: 500px;
  margin: 15px 0px;
  padding: 10px 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #f1f1f1;
  list-style: none;
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  align-items: center;
  color: rgb(8, 8, 8);
  font-size: 18px;
}

ul button {
  padding: 10px;
  /* margin-left: 100px; */
  /* position: absolute; */
  border: none;
  opacity: 0.1;
  color: #f1f1f1;
}

ul button:hover {
  transition: 0.5s ease-in-out;
  background: orangered;
  opacity: 0.9;
}

body {
  text-align: center;
}

.App div {
  width: 600px;
  margin: 10% 30%;
  padding: 15px 0px;
  /* padding-bottom: 10px; */
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.App div h4 {
  font-size: 50px;
  margin: 0px;
  /* color: rgb(8, 8, 8); */
  color: blue;
  font-family: verdana;
}

input {
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: solid 1px blue;
  width: 450px;
}

div button {
  padding: 13px;
  margin-left: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 3px;
  background: blue;
  border: none;
  color: #f1f1f1;
}
span {
  padding: none;
  display: block;
  margin: none;
  text-align: left;
}

span:nth-child(2) {
  text-align: center;
}

.li {
  display: block;
  justify-content: center;
  align-items: center;
}
#getTime {
  color: blue;
}
